html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    overflow: auto;
}

.monaco-editor .lines-content>.view-lines>.view-line>span {
    width: 100%;
    /* In order for a click to the right of the last character to move the cursor to the end instead of the beginning. */
}